.Body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

.Header {
  position: relative;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    to right,
    var(--header-bg-dark),
    var(--header-bg-light)
  );
  user-select: none;
}

.TitleHide {
  height: 100%;
  animation: hideTitle 0.5s ease-in-out 0s forwards;
}

@keyframes hideTitle {
  0% {
    opacity: 1;
  }
  100% {
    /* transform: translateY(-20%); */
    opacity: 0;
  }
}

.TitleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
}

.Title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text);
  letter-spacing: 3px;
  text-align: center;
  justify-content: center;
}

.RestartContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding-right: 15px;
}

.Button,
.RestartGame {
  padding: 10px 20px;
  background-color: var(--card-bg-light);
  color: var(--text);
  border-radius: 10px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.Button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 grey;
}

.Button:active {
  transform: scale(1);
}

.RestartGame {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
}

.ModesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 10vh;
  width: 70%;
}

.Disabled {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 10px;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  margin-top: 30px;
}

.CkeckButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Disabled {
  border: 1px solid grey;
  background-color: var(--button-bg-disabled);
  animation: spinIn 1s linear 0s forwards;
}

.Restart {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-right: 15px;
}

.PickText {
  background-color: var(--header-bg-light);
  text-transform: uppercase;
  color: var(--text);
  font-weight: 700;
  letter-spacing: 2px;
  height: 8vh;
  width: 200px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 1s ease-in-out; */
  cursor: pointer;
}

.PickTextNotVisible {
  transform: translateX(-150%);
  opacity: 0;
}

.PickContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 1.5s cubic-bezier(0.39, -0.66, 0.35, 0.91);
  opacity: 1;
  /* background-color: rgba(102, 205, 171, 0.329); */
  align-items: center;
  justify-content: flex-start;
}

.PickHide {
  transform: translateX(-150%);
  opacity: 0;
}

.ModeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20px;
}

.LeftToRight {
  left: -2000px;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--text-dark);
}

.RightToLeft {
  left: 2000px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text);
}

.LeftToRight,
.RightToLeft {
  position: relative;
  animation: dashIn 1s cubic-bezier(0.2, 0.76, 0.58, 1.12) 1s forwards;
  opacity: 0;
}

.CardsContainer {
  position: relative;
  min-width: 200px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  /* overflow-x: hidden; */
}
.IconTribute {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 40px;
}

.CardsContent {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  box-sizing: border-box;
  grid-gap: 20px;
}

.CardsContent.Easy {
  grid-template-columns: repeat(2, 280px);
  grid-auto-rows: 230px;
}

.CardsContent.Medium {
  grid-template-columns: repeat(4, 230px);
  grid-auto-rows: 180px;
}

.CardsContent.Hard {
  grid-template-columns: repeat(6, 200px);
  grid-auto-rows: 150px;
}

.Cover,
.GameOver {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 151, 0.719);
  font-size: 50px;
  font-weight: bold;
  user-select: none;
}

.SelectMode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-width: 1320px) {
  .CardsContent.Hard {
    grid-template-columns: repeat(5, 200px);
  }
}

@media (max-width: 1150px) {
  .CardsContent.Hard {
    grid-template-columns: repeat(4, 200px);
  }

  .CardsContent.Medium {
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 150px;
  }
}

@media (max-width: 870px) {
  .CardsContent.Hard {
    grid-template-columns: repeat(3, 200px);
  }

  .CardsContent.Medium {
    grid-template-columns: repeat(3, 200px);
  }

  .CardsContent.Easy {
    grid-template-columns: repeat(2, 230px);
    grid-auto-rows: 180px;
  }
}

@media (max-width: 650px) {
  .CardsContent.Hard {
    grid-template-columns: repeat(2, 200px);
  }

  .CardsContent.Medium {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 500px) {
  .CardsContent.Easy {
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 150px;
  }
}

@media (max-width: 450px) {
  .Header {
    height: 20vh;
    flex-direction: column;
  }

  .TitleContainer {
    align-items: flex-start;
    justify-content: center;
    padding-top: 1vh;
    height: 100%;
  }

  .Title {
    justify-content: center;
  }

  .RestartContainer {
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3vh;
    padding-right: 0;
  }

  .PickText {
    width: 100%;
    margin-top: 5.5vh;
    margin-left: 0;
  }

  .Restart {
    padding: 0;
  }

  .ModeContainer {
    top: 30%;
    left: 50%;
    width: 200px;
    height: auto;
  }

  .PickContent {
    padding-top: 20px;
  }

  .PickVisible {
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .CardsContent.Hard {
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 100px;
  }

  .CardsContent.Medium {
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 100px;
  }

  .CardsContent.Easy {
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 100px;
  }
}

@media (max-width: 320px) {
  .CardsContent.Hard {
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 120px;
  }

  .CardsContent.Medium {
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 120px;
  }

  .CardsContent.Easy {
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 120px;
  }
}

@keyframes spinIn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    top: 0;
    left: 0;
  }
}

@keyframes dashIn {
  20% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
